
h1{
	
	text-align:center;
	color:blue;
}
h3{
	text-align: center;
    color:black;
}
body{
	background-color:#c4e7ed;
}
.container{
	font-family:serif;
	font-size:40px;
}
body{
	
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;

}
